body{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
.recomendaciones{
 margin-left: 10px; color: white; font-size: 30px; font-family: 'Times New Roman', Times, serif;
}

.orderpeli{
    display: flex; justify-content: space-between;
}

.fotos{
    display: flex; justify-content: space-between; 
}

#pelirecomendadasid{
    display: flex; justify-content: space-between; 
}

.nombres{
    display: flex; justify-content: space-between; margin-left: 10px; margin-right: 10px; color: black; font-size: 12px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}

h1{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
}



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 50px;
    border: 0%;
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    justify-content: space-between;
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    height: 90%;
    margin-right: 1%;
}

.logo-footer{
    align-self: flex-end;
    height: 300px;
    margin-bottom: 0px;
    margin-right: 1%;
}

.integrantes{
    font-family: 'Work Sans', sans-serif;
    align-self: flex-end;
    color: white;
    margin: 0px;
    margin-right: 1%;
    font-size: 20px
}

.nombrepagina{
    text-decoration: none;
}

.linksHeader{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logoheader{
    height: 100%;
    margin-left: 0px;
    margin-right: 30px;
    justify-self: flex-start;
    height: 80%;
    width: 200px;
    height: 200px;
}

h2{
    color: black;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    text-decoration: none;
    
}

.seccionpeliseriefavorita{
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #1c1c1c88;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: transparent;
}

.peliculaoserieinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    margin-right: 150px;
    margin-top: 5px;
    margin-left: 150px;
}

.nombrepeli-serie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    align-items: center;
    margin-top: 5px;
}

.linkadetalle{
	display: block;
	margin: auto;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s max-width ease;
	max-width: 14%;
	border-radius: 0px 0px 0px 0px ;
    font-family: 'Work Sans', sans-serif;
}
.linkadetalle{
	color: #fff;
	max-width: 24%;
}

h3{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 10px;

}

.title{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 50px;
    padding-top: 10px;
}


.descripcion_abajo{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding-bottom: 7px;
    padding-left: 0px;

}

.trailerdetalle{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    height: 390px;
    width: 673px;
}

.lista_abajo{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.descripcion_abajo{
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    margin-top: 3px;
    margin-bottom: 8px;
}


/*decoraciondegeneros*/

.DetalledelGenero{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #5a5aaa;
    border-radius: 10px;
    padding: 10px;
}


.buenaLista{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    background-color: #5a5aaa;
    border-radius: 10px;
    padding: 10px;
}

.estructura{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.titulodestrucutura{
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
    align-self: center;
    font-size: 35px;
}

.otraestructura{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c91;
    width: 30%;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;

}

.listaestructural{
    color: white;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    padding-inline-start: 0%;
    text-align: center;

}

.results-img{
    width: 250px;
    height: 300px;
}

.fantasia{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

/* REGLAS DE RESPONSIVE */
@media (max-width: 420px) {

    .nombres{
        display: block; justify-content: space-between; margin-left: 10px; margin-right: 10px; color: black; font-size: 10px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    
    }
    body{
        background: #0099F7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
         */
        background-repeat: no-repeat;
        background-size: 420px;   
    }
    .peli-recom{
        text-align: center;
        margin: 0px;
        font-size: 50px;
    }

    .fotos{
        width: 100%;
        color: white;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        justify-content: flex-start;
        border-radius: 10px;
        background-color: #1c1c1c88;
        padding: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: transparent;
    }

    

    ul.listaformato {
        margin-right: 30px;
    }

    .header{
        height: 225px;
    }
    .Series-recom{
        text-align: center;
        margin: 0px;
        font-size: 50px;
    }
    
    .nombrepagina{
        font-size: 18px;
    }
    .logoheader{
        height: 140px;
        margin: 0px;
        width: 30vw;
    }
    .headerIzquierda{
        width: 45%;
    }
    .headerDerecha{
        width: 55%;
    }
    .linksHeader{
        flex-direction: column;
    }
    .formbusqueda{
        width: 100px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    .inputbusqueda{
        width: 100px;
        margin-bottom: 3px;
        padding: 0px;
    }
    .submitbtn{
        padding: 0px;
        width: 80px;
        align-self: center;
    }
    .linksHeader{
        width: 37%;
    }
    .nav{
        justify-content: space-around;
    }
    .linkfavoritos{
        margin-bottom: 3px;
        font-size: 14px;
        text-align: center;
    }
    .linkgeneros{
        font-size: 14px;
        text-align: center;
    }
    .listaestructural{
        padding-inline-start: 0px;
    }
    
    .fotos{
        display: block;
        justify-content: space-between;
    
    }
    

    .estructura {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .otraestructura {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: transparent;
    }

    .liDeLista {
        /* padding-bottom: 25px; */
        background-color: #2C5364;
        border-radius: 10px;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        margin: 5px 0px;
    }

    .linkadetalleGenero {
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 25px;
        text-decoration: none;
         background-color: transparent; 
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    }

    footer{
        margin-bottom: 200px;
    }
    .seccionpeliseriefavorita{
        width: 95%;
        color: white;
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        border-radius: 10px;
        padding: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
    
        }
    .peliculaoserieinfo{
        margin-bottom: 25px;
        margin-right: 0px;
    }
    .recomendaciones{
        flex-wrap: wrap;
        width: 95%;
        justify-content: space-around;
    }
    .nombrepeli-serie{
        margin-bottom: 25px;
        margin-right: 0px;
    }
    h3{
        padding: 0px;
        margin: 10px;
    }
    h1{
        text-align: center;
        margin: 0px;
        font-size: 65px;
    }
    .textobusqueda{
        font-size: 0px;
        text-align: left;
    }
    h2{
        margin-left: 10px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .haBuscado{
        font-size: 30px;
        margin-left: 10px;
    }

    /* reglas detalle responsive */ 
    .titulo{
        display: flex; 
        justify-content: center;
    } 
    
    .contenido_principal {
        display: flex;
        justify-content: center;
    }

    .descripcion_arriba{
        display: flex; 
        justify-content: center;
    } 
    
    .imagen_detalle{ 
        display: flex; 
        justify-content: center; 
        width: 325px; 
    } 
    

    .trailer_detalle{
        width: 350px;
    }

    .texto_abajo_foto {
        display: flex;
        background-color: #1c1c1c88;
        margin-top: 10px;
        border-radius: 10px;
        padding: 2px;
    }
    .tituloGenero{
        font-size: 40px;
    }

    

}

