body{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
.recomendaciones{
 margin-left: 10px; color: white; font-size: 30px; font-family: 'Times New Roman', Times, serif;
}

.fotos{
    display: flex; justify-content: space-between; 
}

.nombres{
    display: flex; justify-content: space-between; margin-left: 20px; margin-right: 65px; color: black; font-size: 15px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}


.item-1{
    display: flex; justify-content: space-between; 
}
