body{
    background-color: blue
}
.recomendaciones{
 margin-left: 10px; color: white; font-size: 30px; font-family: 'Times New Roman', Times, serif;
}

.fotos{
    display: flex; justify-content: space-between; 
}

.nombres{
    display: flex; justify-content: space-between; margin-left: 20px; margin-right: 65px; color: black; font-size: 15px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

<<<<<<< HEAD:styles.css

=======
.item-1{
    display: flex; justify-content: space-between; 
}
>>>>>>> b590c16ad2ed9af09e4ac8160400873ba605d590:css/styles.css
